<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ultimo minuto</title>
  </head>

  <% if logged_in? %>
    <div class="row">
      <div class="col-md-8">
        <h3>Entries Feed</h3>
          <%= render 'shared/feed' %>
      </div>
    </div>

  <% else %>
    <body>
      <h1>First time here?</h1>
      <h2> <%= link_to "Sign up", signup_path, class: "btn btn-default btn-lg" %><br> </h2>
      <br>
    </body>
  <% end %>



</html>
