<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ultimo minuto</title>
  </head>

  <% if logged_in? %>

    <% if logged_in_admin? %>
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="entry_form">
            <%= render 'shared/entry_form' %>
          </section>
        </aside>
      </div>
    <% end %>

  <body>
    <h1>News</h1>
    <p>

    </p>
  </body>

  <% else %>
    <body>
      <h1>First time here?</h1>
      <h2> <%= link_to "Sign up", signup_path, class: "btn btn-default btn-lg" %><br> </h2>
      <br>
    </body>
  <% end %>



</html>
